* {
  margin: 0;
  padding: 0;
}

.title {
  color: #000000;
  margin-left: 30px;
}
.nav {
  margin-right: 30px;
}

h1 {
  color: #4286f4;
  margin-top: 30px;
  margin-bottom: 10px;
}

.title {
  font-family: "Copperplate";
}
/* div {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  } */
input {
  width: 70%;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 500px;
  border: 1px solid #4e5766;
  box-shadow: 1px 0.5px #888888;
  font-size: 18px;
  text-align: center;
}

button {
  padding: 10px 10px;
  width: 20%;
  border-radius: 4px;
  background-color: #4286f4;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
}

.button:hover {
  background-color: rgba(207, 11, 11, 0.85);
}

.display {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

/* .img-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-top: 40px;
  border: 0.1px 'solid #4286f4;'
}
.imgs {
  width: 50%;
  box-shadow: 1px 0.5px #f49242;
  margin: 0 auto;
  margin-top: 40px;
} */

/* #img-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-top: 60px;
  border: 0.1px solid #4286f4;
}
.imgs {
  box-shadow: 1px 0.5px #4286f4;
  margin: 10px;
} */

.displayImgs {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.card-list {
  column-count: 3;
  
  
}

.card {
  margin-bottom: 1rem;
  display: flex; 
  overflow: auto; 
  border-radius: 11px;
}

.card--image {
  border-radius: 10px;
}

/* .navigationBar{

    margin: 5px;
    margin-right: 100px; 

  }  */

/* .container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
} */
